* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  background: url("../img/background.png") no-repeat bottom left/cover;
  height: 100vh;
}
.main__block {
  max-width: 608px;
}
.main__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}
.main__logo {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.main__logo-text {
  font-size: 39px;
  font-weight: 900;
  color: #474747;
}

.form {
  margin-top: 4;
  background-color: #FFFFFF;
  padding: 24px;
  border-radius: 24px;
}
.form__title {
  color: 323233;
  font-size: 25;
  text-align: center;
  font-weight: 700;
  margin-bottom: 16px;
}
.form__signup {
  text-align: center;
  color: #5A6175;
  font-size: 15px;
  margin-bottom: 16px;
}
.form__link {
  color: #FF6700;
}
.form__input {
  border: 1px solid #DAD7D5;
  border-radius: 8px;
  padding: 16px;
  width: calc(100% - 48px);
  margin-bottom: 24px;
  width: 560px;
}
.form__button {
  display: flex;
  background-color: #0C6FF9;
  border-radius: 24px;
  padding: 16px;
  text-align: center;
  width: 560px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 16px;
  justify-content: center;
}
.form__icons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 8px 41px;
  height: 48px;
  width: 130px;
  background-color: #000000;
}
.form__gray {
  background-color: #5A6175;
}
.form__green {
  background-color: #2EBD59;
}
.form__white {
  background-color: #FAF6F4;
}